@model Post


@{
    ViewData["Title"] = "Post";
}



<div class="text-center md-col-8">
    <div class="card mb-3">
        <div class="card-header">
            <h3>@Html.DisplayFor(model => model.Title)</h3>
        </div>
        <div class="card-body">
            <div>
                @Html.DisplayFor(model => model.Content)
            </div>
            <div class="d-flex justify-content-between">
                <div class="">
                     Creator: @Html.DisplayFor(model => model.applicationUser.UserName)
                </div>
                <div>
                     Created: @Html.DisplayFor(model => model.CreationDate)
                </div>
            </div>
            @if (User.IsInRole("Admin") || User.Identity.Name == Model.applicationUser.UserName)
            {
                <div class="d-flex justify-content-end">
                    <div>
                        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> | 
                    </div>
                    <div>
                        <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                    </div>
                </div>
            }
        </div>
    </div>
    <h4> Comments </h4>
    @{
        foreach (var item in Model.Comments)
        {
            <div class="card mb-2">
                <div class="card-body">
                    <div>
                        @Html.DisplayFor(modelItem => item.Content)
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="">
                            Creator: @Html.DisplayFor(modelItem => item.applicationUser.UserName)
                        </div>
                        <div>
                            Created: @Html.DisplayFor(modelItem => item.CreationDate)
                        </div>
                    </div>
                    @{
                        if(User.Identity.Name == item.applicationUser.UserName || User.IsInRole("Admin"))
                        {
                            <div class="d-flex justify-content-end">
                                <div>
                                    <a asp-controller="Comments" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                </div>
                                <div> 
                                  <span> </span><a asp-controller="Comments" asp-action="Delete" asp-route-id="@item.Id"> Delete</a>
                                </div>
                            </div>
                        }
                      }
                    
                </div>
            
            </div>
        }
    }
</div>
<div class="d-flex justify-content-end">
    <form method="post">
        <button class="btn btn-outline-primary"
                asp-controller="Comments"
                asp-action="Create"
                asp-route-id="@Model.Id">
            Add Comment
        </button>
    </form>
</div>