@model Post


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div>
    @Html.DisplayNameFor(model => model.Title)
</div>
<div>
    @Html.DisplayNameFor(model => model.Content)
</div>
<div>
    @Html.DisplayNameFor(model => model.CreationDate)
</div>

@{
    foreach (var item in Model.Comments)
    {
        <div>
            @Html.DisplayFor(modelItem => item.Content)
        </div>
    }
}
<p>
    <a asp-controller="Comments" asp-action="Create"  asp-route-id="@Model.Id">Add Coment</a>
</p>